:root {
	--background: linear-gradient(to bottom, #87CEEB, #ADD8E6, white);
	--box: rgba(255, 255, 255, 0.3);
	--foreground: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: linear-gradient(to bottom, black, #0B0B3B, #1C1C3A);
		--box: rgba(32, 32, 32, 0.3);
		--foreground: #ededed;
	}
}

html, body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
	height: 100vh;
	margin: 0;
}

#weather-card {
	background: var(--box);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

input {
	border: 0.01rem solid var(--foreground);
	padding: 0.1rem 0.2rem;
}

button {
	background: lightgreen;
}

#loading {
	display: none;
	margin: 2rem auto;
	width: 2rem;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}