:root {
	color-scheme: light dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-card;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--background: linear-gradient(to bottom, #87CEEB, #ADD8E6, white);
		--button: lightgreen;
		--foreground: black;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--background: linear-gradient(to bottom, black, #0B0B3B, #1C1C3A);
		--button: darkgreen;
		--foreground: #ededed;
	}
}

html, body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
	height: 100vh;
	margin: 0;
}

.card {
	background: rgba(250, 250, 250, 0.3);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

input {
	border: 0.01rem solid var(--foreground);
	padding: 0.1rem 0.2rem;
}

button {
	background: var(--button);
}

#loading {
	display: none;
	margin: 2rem auto;
	width: 2rem;
}